.logo {
    width: 200px;
}

.topMenu{
    padding-top: 30px;
}

.Menu{
    padding: 100px;
    .Menu{

        img{
            width: 100%;
        }
    }
}

.heroSection{
    padding: 80px;
    .heroImage{
        img{
            width: 100%;
        }
    }


    .heroCaption{
        display: flex;
        flex-direction:row;
        align-items: center;
        height: 100%;
        h1{
            font-size: 50px;
        }
        .ctaBtn{
            margin-top: 30px;
        }
    }

    .iconGrup {
        display: flex;
        gap: 15px;
        img{
            height: 50px;
            width: 50px;
        }
    }
}

.Maps {
    margin-top: 30px;
    padding:30px 0px ;
    
}
 
.nearestRestaurant{
    margin-top: 30px;
    background: #dedede;
    padding:30px 0px;
}
.sliderWithThumbnail{
    background: #ffe45c;
    padding: 30px;
        img{
            height: 30px;
        }
}

    /*MEDIA QUERY*/
    @media only screen and (max-width:991px) {
    .heroCaption{
        justify-content: center;
        text-align:center;
    }
}